
<div class="col-md-12 offset-md-0">
    <p class="searchP"> Search shoppings </p>
    <div class="row">
		<div class="col-2">
     	<div class="form-group">
    		<label> User: </label>
    		<select [(ngModel)]="userId" class="form-control">
      			<option [defaultSelected]=true [value]="default" >--- Search by user ---</option>
	  			<option *ngFor="let user of users" [ngValue]="user.id" > {{ user.username }} </option>
			</select>
	 	</div>
	 	</div>
	 	<div class="col-2">
    	<div class="form-group">
       		<label> Code: </label>
            <input  type="text" class="form-control" placeholder="Search by code" [(ngModel)]="code" />
    	</div>
    	</div>
    	<div class="col-2">
    	<div class="form-group">
       		<label> Total price: </label>
            <input  type="text" class="form-control" placeholder="Search by total price" [(ngModel)]="totalPrice" />
    	</div>
    	</div>
    	<div class="col-3">
     	<div class="form-group">
       		<label> Date and time beginning: </label>
            <input  type="text" class="form-control" placeholder="Beginning - dd.mm.yyyy. hh:mm" [(ngModel)]="dateTimeBeginning" />
    	</div>
    	</div>
    	<div class="col-3">
     	<div class="form-group">
       		<label> Date and time end: </label>
            <input  type="text" class="form-control" placeholder="End - dd.mm.yyyy. hh:mm" [(ngModel)]="dateTimeEnd" />
    	</div>
    	</div>
    </div>
    <button class="btn btn-search" type="button" (click)="searchShoppings()" > <i class='fas fa-search'></i> Search </button>
</div>

<br>
<p class="listP"> Shopping List</p>
<div class="table-responsive">
<table class = "table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th> Code</th>
            <th> User </th>
            <th> Total price </th>
            <th> Date & Time</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let shopping of shoppings" >
            <td> {{ shopping.code }} </td>
            <td> {{ shopping.userUsername }} </td>
            <td> {{ shopping.totalPrice }} </td>
            <td> {{ shopping.dateTime }} </td>
            <td>
                <button (click) = "updateShopping(shopping.id)" class = "btn btn-update"> <i class='fas fa-pencil-alt'></i> Update</button>
                <button (click) = "deleteShopping(shopping.id)" class = "btn btn-delete" style="margin-left: 10px"> <i class='fas fa-trash-alt'></i> Delete</button>
                <button (click) = "selectShopping(shopping.id)" class = "btn btn-select" style="margin-left: 10px"> <i class='fa fa-check-square'></i> Select</button>
            </td>
        </tr>
    </tbody>
</table>
<br>
</div>
