
<p class="ms-1 my-1"> Search shoppings </p>

<div class="d-flex flex-column flex-md-row p-1">  

   <div class="d-flex flex-column flex-md-row p-1">
            <label class="align-content-center"> User: </label>
            <select [(ngModel)]="userId" class="ms-md-3">
                <option [defaultSelected]=true [value]="default" >--- Search by user ---</option>
                <option *ngFor="let user of users" [ngValue]="user.id" > {{ user.username }} </option>
            </select>
    </div>
   <div class="d-flex flex-column flex-md-row p-1">
            <label class="align-content-center"> Code: </label>
            <input class="ms-md-3"  type="text" placeholder="Search by code" [(ngModel)]="code" />
    </div>
   <div class="d-flex flex-column flex-md-row p-1">
            <label class="align-content-center"> Total price: </label>
            <input class="ms-md-3"  type="text" placeholder="Search by total price" [(ngModel)]="totalPrice" />
    </div>
   <div class="d-flex flex-column flex-md-row p-1">
            <label class="align-content-center"> Beginning &#10095; </label>
            <input class="ms-md-3" type="datetime-local"  [(ngModel)]="dateTimeBeginningValue" />
    </div>
    <div class="d-flex flex-column flex-md-row p-1">
        <label class="align-content-center"> End  &#10094; </label>
        <input class="ms-md-3" type="datetime-local" placeholder="dd.mm.yyyy. hh:mm" [(ngModel)]="dateTimeEndValue" />
    </div>
   <div class="d-flex flex-column flex-md-row p-1">
            <button class="btn btn-search ms-md-3 mt-3 mt-md-0" type="button" (click)="searchShoppings()" > <i class='fa fa-search'></i> Search </button>
    </div>

</div>

<br>


<div class="tablemodel">

    <div class="rowModel">
        <p> Shopping List</p>        
    </div>

<table>   
    <thead>
        <tr>
            <th> O/N </th>
            <th> Code</th>
            <th> User </th>
            <th> Total price </th>
            <th> Date & Time</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let shopping of shoppings; index as i"> 
            <td data-label="O/N"> {{ i+1 }} </td>
            <td data-label="Code"> {{ shopping.code }} </td>
            <td data-label="User"> {{ shopping.userUsername }} </td>
            <td data-label="Total price"> {{ shopping.totalPrice }} </td>
            <td data-label="Date & Time"> {{ shopping.dateTime }} </td>
            <td data-label="Actions">
                <button (click) = "updateShopping(shopping.id)" class = "btn btn-update"> <i class='fas fa-pencil-alt'></i> Update</button>
                <button (click) = "deleteShopping(shopping.id)" class = "btn btn-delete" style="margin-left: 10px"> <i class='fas fa-trash-alt'></i> Delete</button>
                <button (click) = "selectShopping(shopping.id)" class = "btn btn-select" style="margin-left: 10px"> <i class='fa fa-check-square'></i> Select</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="div-load">
        <button class="btn btn-submit" (click) = "loadMore()"> <i class="fas fa-sync fa-spin"></i>  Load  more </button> 
</div>

<div class="empty"></div>

</div>
