
<div class="tablemodel">

    <div class="rowModel">
        <p> Item List</p>        
    </div>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Product</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Pieces</th>
			<th>Item price</th>
			<th>Actions</th>
			<th>Reset</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of items">
			<td data-label="ID">{{ item.id }}</td>
			<td data-label="Product">{{ item.productName }}</td>
			<td data-label="Quantity">{{ item.productQuantity }}</td>
			<td data-label="Price">{{ item.productPrice }}</td>
			<td data-label="Pieces"><input type="number" class="form-control" id="itemQuantity" [(ngModel)]="item.itemQuantity" name="itemQuantity"></td>
			<td data-label="Item price">{{ item.itemPrice }}</td>
			<td data-label="Actions"><button (click)="buyItem(item.id,item.itemQuantity)" class="btn btn-select">  <i class='fas fa-plus'></i>  Select an item</button></td>
			<td data-label="Reset"><button (click)="resetItem(item.id)" class="btn btn-search"> <i class='fas fa-undo-alt'></i> Reset</button></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td data-label="Actions"><button (click)="buy()" class="btn btn-update"> <i class="fa fa-shopping-basket"></i> Buy </button></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<div class="empty"></div>
</div>