
<p class="ms-1 my-1"> Search products </p>

<div class="d-flex flex-column flex-md-row p-1">  

   <div class="d-flex flex-column flex-md-row p-1">
       		<label class="align-content-center"> Name: </label>
            <input class="ms-md-3"  type="text"  placeholder="Search by name" [(ngModel)]="name" />
    </div>
   <div class="d-flex flex-column flex-md-row p-1">
       		<label class="align-content-center"> Brand: </label>
            <input class="ms-md-3" type="text"  placeholder="Search by brand" [(ngModel)]="brand" />
    </div>
   <div class="d-flex flex-column flex-md-row p-1">
       		<label class="align-content-center"> Price: </label>
            <input class="ms-md-3" type="text"  placeholder="Search by price" [(ngModel)]="price" />
    </div>
   <div class="d-flex flex-column flex-md-row p-1">
    		<label class="align-content-center"> Category: </label>
    		<select class="ms-md-3" [(ngModel)]="category" >
      			<option [defaultSelected]=true [value]="default" >--Search by category--</option>
	  			<option *ngFor="let category of categories" [ngValue]="category" > {{ category }} </option>
			</select>
    </div>
   <div class="d-flex flex-column flex-md-row p-1">
            <button class="btn btn-search ms-md-3 mt-3 mt-md-0" type="button" (click)="searchProducts()" > <i class='fa fa-search'></i> Search </button>
    </div>

</div>

<br>


<div class="tablemodel">

    <div class="rowModel">
        <p> Product List</p>
        <button (click) = "addProduct()" class = "btn btn-add" *ngIf="showAdmin" > <i class='fa fa-plus'></i> Add new</button>
        
    </div>

<table>
    <thead>
        <tr>
            <th> ID </th>
            <th> Name</th>
            <th> Brand</th>
            <th> Quantity </th>
            <th> Price</th>
            <th> Category </th>
            <th *ngIf="showAdmin" > Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let product of products" >
            <td data-label="ID"> {{ product.id }} </td>
            <td data-label="Name"> {{ product.name }} </td>
            <td data-label="Brand"> {{ product.brand }} </td>
            <td data-label="Quantity"> {{ product.quantity }} </td>
            <td data-label="Price"> {{ product.price }} </td>
            <td data-label="Category"> {{ product.category }} </td>
            <td data-label="Actions" *ngIf="showAdmin" >
                <button (click) = "updateProduct(product.id)" class = "btn btn-update"> <i class='fas fa-pencil-alt'></i> Update</button>
                <button (click) = "deleteProduct(product.id)" class = "btn btn-delete" style="margin-left: 10px"> <i class='fas fa-trash-alt'></i> Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="div-load">
    <button class="btn btn-submit" (click) = "loadMore()"> <i class="fas fa-sync fa-spin"></i>  Load  more </button> 
</div>

<div class="empty"></div>

</div>
