
<div class="col-md-12 offset-md-0">
	<p class="searchP"> Search products </p>
	<div class="row">
		<div class="col-3">
    	<div class="form-group">
       		<label> Name: </label>
            <input  type="text" class="form-control" placeholder="Search by name" [(ngModel)]="name" />
    	</div>
    	</div>
    	<div class="col-3">
    	<div class="form-group">
       		<label> Brand: </label>
            <input  type="text" class="form-control" placeholder="Search by brand" [(ngModel)]="brand" />
    	</div>
    	</div>
    	<div class="col-3">
    	<div class="form-group">
       		<label> Price: </label>
            <input  type="text" class="form-control" placeholder="Search by price" [(ngModel)]="price" />
    	</div>
    	</div>
		<div class="col-3">
    	<div class="form-group">
    		<label> Category: </label>
    		<select [(ngModel)]="category" class="form-control">
      			<option [defaultSelected]=true [value]="default" >--- Search by category ---</option>
	  			<option *ngFor="let category of categories" [ngValue]="category" > {{ category }} </option>
			</select>
	 	</div>
    	</div>
    	
    </div>
    <button class="btn btn-search" type="button" (click)="searchProducts()" > <i class='fas fa-search'></i> Search </button>

</div>



<br>
<button (click) = "addProduct()" class = "btn btn-add" *ngIf="showAdmin" > <i class='fas fa-plus'></i> Add new</button>
<br>
<br>
<p class="listP"> Product List</p>
<div class="table-responsive">
<table class = "table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th> Name</th>
            <th> Brand</th>
            <th> Quantity </th>
            <th> Price</th>
            <th> Category </th>
            <th *ngIf="showAdmin" > Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let product of products" >
            <td> {{ product.name }} </td>
            <td> {{ product.brand }} </td>
            <td> {{ product.quantity }} </td>
            <td> {{ product.price }} </td>
            <td> {{ product.category }} </td>
            <td *ngIf="showAdmin" >
                <button (click) = "updateProduct(product.id)" class = "btn btn-update"> <i class='fas fa-pencil-alt'></i> Update</button>
                <button (click) = "deleteProduct(product.id)" class = "btn btn-delete" style="margin-left: 10px"> <i class='fas fa-trash-alt'></i> Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<br>
</div>
