
.col-md-4 {
    margin-top: 10%;
    padding: 2%;
    border-radius: 15px;
    border: 1px solid #2B2B2B66;
    transition: 3s outline , 3s outline-offset, 3s box-shadow;
}
.col-md-4:hover {
    cursor: pointer;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
    outline: 10px ridge rgba(255, 255, 255, 0.3);
    outline-offset: -10px;
    transform: translateY(1px);
    
}
.col-md-4:focus-within {
    background: linear-gradient(#F8F8F8 , #F5F5F5 47% 53% , #F8F8F8 );
}
.col-md-4 img {
    width:60%;
    margin-left:20%;
    border-radius: 50%;
    border: 1px solid gray;
}

input, select {
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 1px #ccc;
}

input, select, label {
    padding: 0;
    font-size: 1.0vw;
}

input[type="datetime-local"] {
    cursor: pointer;
    position: relative;
    text-align: right;
    padding-right: 15px;  
    padding-left: 15px;
}
  
input[type="datetime-local"]::-webkit-calendar-picker-indicator  {
    cursor: pointer;
    position: absolute;
    left: 5px;
    height:90%;
    width:auto;
    content: url(assets/images/calendar-icon.png); 
}

p {
    font-size: 1.1vw;
}






@media screen and (min-width: 768px) and (max-width: 1150px){
    .col-md-4 {
        margin-top: 1%;
        padding: 5%;
        border-radius: 5px;
    }
}




  /*  MOBILE  */
  @media screen and (max-width: 767px) {
    .col-md-4 {
        margin-top: 30%;
        padding: 5%;
        border-radius: 5px;
    }
    p {
        font-size: 4.3vw;
    }
    input, select, label {
        font-size: 4.5vw;
    }
  }