.navbar { 
  color: white;
  background: linear-gradient(#33CCFF , #006699 30% 70% , #33CCFF );
  z-index: 1;
}
.navbar:hover {
	background: linear-gradient(#006699 , #33CCFF 47% 53% , #006699 );
}
.navbar a {
  color: aliceblue;
  text-shadow: 1px 1px #900000;
} 
.logo {
  margin-left:1%;
}
.logo img {
  width:40px; 
  height:40px;
}
.logo:hover {
	opacity:75%;
}
.nav-item {
  font-size: large;
}
#screensize {
	margin-left:5%;
	margin-top:4.5%;
	width:90%;
}



@media screen and (min-width: 991px) and (max-width: 1150px) {	
  .nav-item {
    font-size: medium;
  }
  #screensize {
    margin-top:6%;
  }
}



@media screen and (max-width: 990px) {
  .navbar:hover{
    background: linear-gradient(#33CCFF , #006699 30% 70% , #33CCFF );
  }
  .navbar-toggler {
    border: 2px solid aliceblue;
  }
  .navbar-collapse {
    margin-top: 10px;
    border: 1px solid black;
    text-align: center;
    background: linear-gradient(#006699 , #33CCFF 45% 55% , #006699 );
  }
  .logo img {
    width:30px; 
    height:30px;
  }
  #screensize {
    margin-top:20%;
  }
}
