<div id="app">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  		<div className="logo">
        	<img src="assets/images/logo.jpg" width="50" height="50" alt="logo" />
        </div>
    <a href="#" class="navbar-brand">OnlineShop</a>
    <ul class="navbar-nav mr-auto ml-4" routerLinkActive="active">
      <li class="nav-item ml-2">
        <a href="/products" class="nav-link" routerLink="products">Products </a>
      </li>
       <li class="nav-item ml-2">
        <a href="/create-shopping" class="nav-link" routerLink="create-shopping">Buy</a>
      </li>
      <li class="nav-item ml-2" *ngIf="showAdmin">
        <a href="/users" class="nav-link" routerLink="users">Users</a>
      </li>
      <li class="nav-item ml-2" *ngIf="showAdmin">
        <a href="/shoppings" class="nav-link" routerLink="shoppings">Shoppings</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto mr-4" *ngIf="!isLoggedIn">
      <li class="nav-item mr-4">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item mr-1">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto mr-4" *ngIf="isLoggedIn">
      <li class="nav-item mr-4">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item mr-1">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
  
</div>
