<div *ngIf="showAdmin" >

    <p class="ms-1 my-1"> Search users </p>

    <div class="d-flex flex-column flex-md-row">  
    
       <div class="d-flex flex-column flex-md-row p-1">
                <label class="align-content-center"> Username: </label>
                <input class="ms-md-3"  type="text"  placeholder="Search by username" [(ngModel)]="username" />
        </div>
       <div class="d-flex flex-column flex-md-row p-1">
                <label class="align-content-center"> E-mail: </label>
                <input class="ms-md-3" type="text"  placeholder="Search by e-mail" [(ngModel)]="email" />
        </div>
        <div class="d-flex flex-column flex-md-row p-1">
                <button class="btn btn-search ms-md-3 mt-3 mt-md-0" type="button" (click)="searchUsers()" > <i class='fa fa-search'></i> Search </button>
        </div>
    </div>

<br>


<div class="tablemodel">

    <div class="rowModel">
        <p> User List</p>
        <button (click) = "addUser()" class = "btn btn-add" *ngIf="showAdmin" > <i class='fa fa-plus'></i> Add new</button>
    </div>

<table>
    <thead>
        <tr>
            <th> ID </th>
            <th> Username</th>
            <th> E-mail </th>
            <th> Password</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let user of users" >
            <td data-label="ID"> {{ user.id }} </td>
            <td data-label="Username"> {{ user.username }} </td>
            <td data-label="E-mail"> {{ user.email }} </td>
            <td data-label="Password"> {{ user.password }} </td>
            <td data-label="Actions">
                <button (click) = "updateUser(user.id)" class = "btn btn-update"> <i class='fas fa-pencil-alt'></i> Update</button>
                <button (click) = "deleteUser(user.id)" class = "btn btn-delete" style="margin-left: 10px"> <i class='fas fa-trash-alt'></i> Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="pagination">
    <button class="btn btn-pagination" (click) = "minusPage()"> <i class='fas fa-less-than'></i> <i class='fas fa-less-than'></i> Previous  </button>
    <label> {{page}} </label>
    <button class="btn btn-pagination" (click) = "plusPage()"> Next  <i class='fas fa-greater-than'></i> <i class='fas fa-greater-than'></i> </button> 
</div>


<div class="empty"></div>

</div>

</div>

